{% extends "alloydflanagan/base.html" %}
  {% load static %}
  {% block page_content %}
<div class="row">
  <div class="offset-sm-2 col-sm-8 offset-md-3 col-md-6">
    <div class="app-card-container">
      <div class="card contact-card">
        <h1>Contact Me</h1>
        <div id="contact_page">
          <h3>Social Media</h3>
          <p>LinkedIn: <a href="https://www.linkedin.com/in/alloydflanagan">alloydflanagan</a></p>
          <p>Twitter: <a href="https://twitter.com/lloyd_flanagan">@alloydflanagan</a></p>
          <h3>Email</h3>
          <p><a href="mailto:a.lloyd.flanagan@gmail.com?subject=Portfolio Contact">a.lloyd.flanagan@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
