{% extends "alloydflanagan/base.html" %}
{% load static %}
{% block page_content %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome to my website.</h1>
  <p class="lead">
    I am a full-stack software developer with years of experience. I believe
    passionately in software that works, and software that is as simple as possible,
    but not simpler.
  </p>
  <p>
    <a class="btn btn-lg btn-secondary"
       href="{% url 'about_me' %}">About Me</a>
  </p>
</main>
{% endblock %}
